form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

form input {
  margin-bottom: 10px;
  border: 1px solid black;
}

form button {
  margin-top: 10px;
  border: 1px solid black;
}
